<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerTiFragment">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" th:href="@{/assets/ico/favicon.ico}"/>

    <title>TimeFrame Management System</title>
     
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/navbar-fixed-top.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/datepicker.css}" rel="stylesheet" />
	 	
	<script th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>	
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datepicker.js}"></script>   
    
    <script th:src="@{/assets/js/highcharts/highcharts.js}"></script>
	<script th:src="@{/assets/js/highcharts/highcharts-more.js}"></script>	
	<script th:src="@{/assets/js/highcharts/modules/exporting.js}"></script>	 
  </head>
</html>